.header{
  display:flex;
  border:1px solid black;
  justify-content: space-between;

}
img{
  width:200px
}
.res-img{
  padding:2px
}
.rest-link{
  color:black;
  text-decoration: none;
}
.resturnat:hover{
  background-color: #b0aeae
}
.nav-container > ul {
  display: flex;
}
.nav-container > ul >li{
  padding : 10px;
  font-size:24px;
  list-style: none;

}
.res-container{
display: flex;
flex-wrap: wrap;
}
.search{
  margin:20px
}
.resturnat{
  margin: 10px;
  width: 200px;
  background-color: #f0f0f0;

}
.res-img{
  width: 190px;
}
/* .logo-container{
  width: 200px;
} */
.logo{
  width: 100px;
}
.resturnat-menu{
width: 50%;
 
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-left:25%;
  margin-top:2rem
}
.menu-card{
  display: flex;
  border-top:1px solid black;
}
.menu-image{
  width: 200px;
  height: 200px;
  margin-top:4rem
}
